# 댓글 자연어처리 및 감성분석

#### 1. 필요한 라이브러리 및 파일 불러오기

In [ ]:
# 구글 드라이브 마운트
from google.colab import drive
drive.mount('/content/drive')

In [2]:
import pandas as pd
import numpy as np
twitter = pd.read_csv('데이터수집본(중복없음).csv')

In [14]:
twitter

,Unnamed: 0.1,Unnamed: 0,ID,Text,Date,Key,duplicates
0,0,0,1556991811700240384,서울 되련님들도 뭣같고 오세이돈도 뭣같고 지옥런한 새끼도 뭣같고 산불 안보러간다고 ...,2022-08-09 13:12:30,산불 or 화재,360
1,1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 지겹게 이어지던...,2022-08-09 13:12:04,산불 or 화재,360
2,2,2,1556991657337552896,RT @envsha: 이번주 뉴스만 해도\n- 파키스탄 지난 5주간 폭우로 282명...,2022-08-09 13:11:53,산불 or 화재,360
3,3,3,1556991610772402176,RT @c2bwsjuhmEW3tbX: 이상 이천화재로 사람죽어갈때 경기도지사랑 떡볶...,2022-08-09 13:11:42,산불 or 화재,1614
4,4,4,1556991592782737410,"RT @ulttung: 재난에 닥치니 진짜 문재인대통령, 이낙연 총리님시절이 그리워...",2022-08-09 13:11:37,산불 or 화재,638
...,...,...,...,...,...,...,...
258,50802,12,1556990545247215617,RT @granite0: 2022년 8월 8일 기록적인 호우로 인한 강남 침수로 오...,2022-08-09 13:07:28+00:00,기타,49
259,51525,0,1556990849015500800,서울에 폭설이 내리고 난리가 날 때 눈 구경할 일 없던 남쪽 끄트머리에 살던 나는 ...,2022-08-09 13:08:40+00:00,기타,49
260,51529,4,1556990810360807424,RT @09_25: 이미 사추 육아로 경력직이긴 했지만 위무선이 낳은 아이들 덕에 ...,2022-08-09 13:08:31+00:00,기타,49
261,51533,8,1556990796900904961,흐아앙이 그뜻이었어요..ㅇ0ㅇ?(동공지진 https://t.co/AVGGr9b2EW,2022-08-09 13:08:28+00:00,기타,49
262,51535,10,1556990792694018049,RT @yoji0802: 정말 대통령실 통째로 개판이구나! 대가리 제대로 된 놈이 ...,2022-08-09 13:08:27+00:00,기타,49

In [21]:
twitter= twitter[['Text']] 
twitter

                                                  Text
0    서울 되련님들도 뭣같고 오세이돈도 뭣같고 지옥런한 새끼도 뭣같고 산불 안보러간다고 ...
1                               지겹게 이어지던 산불  기억속에 가득하다
2    s    이번주 뉴스만 해도   파키스탄 지난  주간 폭우로    명 사망   미국...
3    s            이상 이천화재로 사람죽어갈때 경기도지사랑 떡볶이먹방찍고계셨던...
4    재난에 닥치니 진짜 문재인대통령  이낙연 총리님시절이 그리워죽겠음 그때 산불났을 때...
..                                                 ...
258  년  월  일 기록적인 호우로 인한 강남 침수로 오세훈의 대권꿈도 떠내려가버림   ...
259  서울에 폭설이 내리고 난리가 날 때 눈 구경할 일 없던 남쪽 끄트머리에 살던 나는 ...
260  이미 사추 육아로 경력직이긴 했지만 위무선이 낳은 아이들 덕에 정말로 부친이 된 남...
261                       흐아앙이 그뜻이었어요  ㅇ ㅇ  동공지진     s
262  정말 대통령실 통째로 개판이구나  대가리 제대로 된 놈이 한개도 없네   영상   ...

[263 rows x 1 columns]

#### 2. 한글 제외한 문자 제거

In [16]:
import re

In [18]:
remove_except_ko = re.compile(r"[^가-힣ㄱ-ㅎㅏ-ㅣ\\s]")

In [22]:
# '한글'을 제외한 다른 문자 모두 제거
import re 
# 파이썬에서는 정규 표현식을 지원하기 위해 re(regular expression) 모듈을 제공한다.
remove_except_ko = re.compile(r"[^가-힣ㄱ-ㅎㅏ-ㅣ\\s]")
# re를 통해 모듈을 임포트 한뒤, re.compile('정규표현식')로 정규표현식을 불러온다.
# compile 함수는 문자열을 받은 후 이를 파이썬 코드로 반환해줌. (컴퓨터가 이해할 수 있도록)
# 정규표현식 '^' 는 시작되는 문자열 지정
#^ : 맨 앞에 사용될 경우에만 해당 문자 패턴이 아닌 것과 매칭 아주아주아주아주아주아주아주아주 중요!!!!!!!!!!
# 예시 [^a-d] : a 그리고 b 그리고 c 그리고 d 가 아닌 문자열
# 가~힣 까지 검색 후 자음인 ㄱ~ㅎ 까지 검색 그 다음 모음인 ㅏ~ㅣ까지 탐색하며 한글만 전부 불러옴
# 한번에 ㄱ~힣 이런 식으로는 사용 불가
def preprocess(text):
    text = re.sub(remove_except_ko,' ',text).strip()
    return text
# re.sub 함수의 구성 : re.sub（정규 표현식, 치환 문자, 대상 문자열）
# re.sub('찾을 패턴', '찾은 패턴을 변경할 내용', '원본')
# re.sub 함수는 정규 표현식으로 문자열 치환을 해줍니다.
twitter['Text'] = twitter['Text'].map(lambda x : preprocess(x))

C:\Users\LG\AppData\Local\Temp\ipykernel_5240\752728357.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  twitter['Text'] = twitter['Text'].map(lambda x : preprocess(x))

In [24]:
twitter

                                                  Text
0    서울 되련님들도 뭣같고 오세이돈도 뭣같고 지옥런한 새끼도 뭣같고 산불 안보러간다고 ...
1                               지겹게 이어지던 산불  기억속에 가득하다
2    s    이번주 뉴스만 해도   파키스탄 지난  주간 폭우로    명 사망   미국...
3    s            이상 이천화재로 사람죽어갈때 경기도지사랑 떡볶이먹방찍고계셨던...
4    재난에 닥치니 진짜 문재인대통령  이낙연 총리님시절이 그리워죽겠음 그때 산불났을 때...
..                                                 ...
258  년  월  일 기록적인 호우로 인한 강남 침수로 오세훈의 대권꿈도 떠내려가버림   ...
259  서울에 폭설이 내리고 난리가 날 때 눈 구경할 일 없던 남쪽 끄트머리에 살던 나는 ...
260  이미 사추 육아로 경력직이긴 했지만 위무선이 낳은 아이들 덕에 정말로 부친이 된 남...
261                       흐아앙이 그뜻이었어요  ㅇ ㅇ  동공지진     s
262  정말 대통령실 통째로 개판이구나  대가리 제대로 된 놈이 한개도 없네   영상   ...

[263 rows x 1 columns]

#### 3. OKT 토큰화와 필요없는 조사 제거

In [ ]:
!pip install konlpy

In [ ]:
from konlpy.tag import Okt
okt=Okt()
# Okt (Twitter)
# 해당 분석기는 오픈 소스 한국어 분석기이고, 과거 트위터 형태소 분석기였습니다.
# mecab 사용해 토큰화, 한글자 제거, stop_word 제거
stop_word = ['께서','에서','이다','에게','으로','이랑','까지','부터','하다']
# stopword 불용어 : 제거해야함, 이거는 단어
stopPos = ['Determiner','Adverb','Conjuctions','Josa','PreEomi','Eomi','Suffix',
          'Punctuation','Foreign','Alpha','Number','Unknown','KoreanParticle']
# stopPose의 내용들 : nltk 품사 표식 목록, 이 요소들을 지운다는 뜻
def token_okt(text):
    text = okt.pos(text)
# okt.pos()
# - 각 품사를 태깅하는 역할. 
# - 품사를 태깅한다는 것은 주어진 텍스트를 형태소 
# 단위로 나누고, 나눠진 각 형태소를 그에 해당하는 품사와 함께 리스트화 하는 것을 의미한다. 
    text = [i for i in text if len(i[0])>1]
# 텍스트 해당 단어가 존재한다면    
    text = [i for i in text if i[0] not in stop_word]
# 텍스트 해당 단어가 불용어가 아니라면    
    text = [i[0] for i in text if i[1] not in stopPos]
# 텍스트 해당 단어가 제거 품사에 해당되지 않는다면     
    return text
# 텍스트 해당 단어 반환

In [1]:
[i for i in text if len(i[0])>1]

NameError: name 'text' is not defined

In [ ]:
# 토큰화 + 토큰리스트 생성 
def make_tokens(df):
    df['tokens'] = ''
# 토큰 컬럼을 만듦    
    tokens_list=[]
# 리스트도 만듬    
    for i, row in df.iterrows():
# iterrows 메서드는 데이터의 행-열/데이터 정보를 튜플 형태의 generator 객체로 반환하는 메서드입니다.
# (행 이름, 내용의 Series객체) 형태로 반환하는데, Series객체는 열 - 값 형태로 반환됩니다.       
        if i%500==0:
# 500 단위로 끊는다.
            print(i,'/',len(df))
# 500, / , len(df) 왜 하는지 잘 모르겠음   
        token = token_okt(df['Text'][i])
# 아까 토큰생성함수를 활용하여 df['Text']를 각 항목마다 토큰 생성    
        df['tokens'][i] = ' '.join(token)
# 생성된 각각의 토큰 항목들을 공백 한칸 기준으로 묶어주는 토큰 컬럼 생성    
    return df

twitter = make_tokens(twitter)

In [ ]:
# 빈칸 찾아내기
twitter.replace('', np.nan, inplace=True)
twitter.isnull().sum()

In [ ]:
#Null 값 없애기
twitter=twitter.dropna()
twitter.isnull().sum()

In [ ]:
twitter.head(10)

In [ ]:
twitter.to_csv(r'twitter_token.csv')

In [ ]:
data = pd.read_csv(r'/content/twitter_token.csv')

In [ ]:
data.head()

In [ ]:
df_new = pd.DataFrame(data)

In [ ]:
df_new = df_new[['tokens']]
# token csv에서 토큰화된 컬럼만 추출

In [ ]:
df_new

#### 4. 감정사전 불러오기

In [ ]:
pos_dict = pd.DataFrame(pd.read_csv(r'/content/drive/MyDrive/Deeply🤖/KNU 한국어 감성사전/KnuSentiLex-master/pos_pol_word.txt', sep='\n', quoting=3))
pos_dict.head()

In [ ]:
neg_dict = pd.DataFrame(pd.read_csv(r'/content/drive/MyDrive/Deeply🤖/KNU 한국어 감성사전/KnuSentiLex-master/neg_pol_word.txt', sep='\n', quoting=3))
neg_dict.head()

#### 5. 트윗의 Tone 측정하기

In [ ]:
# 군산대 사전에서 긍정 사전 관련 파인 튜닝
pos_dict = pd.DataFrame(pd.read_csv(r'/content/pos_pol_word.txt', sep='\n', quoting=3,header=15))
pos_dict.rename(columns={'극성 : 긍정':'word'},inplace=True)
pos_dict.head()

In [ ]:
# 군산대 사전에서 부정 사전 관련 파인 튜닝
neg_dict = pd.DataFrame(pd.read_csv(r'/content/neg_pol_word.txt', sep='\n', quoting=3,header=15))
neg_dict.rename(columns={'극성 : 부정':'word'},inplace=True)
neg_dict.head()

In [ ]:
tone_ls = []
# 아래 함수 결과값 모으는 곳
for doc in df_new['tokens']:
# df_new 토큰을 대상으로 작업 수행
    #print(doc.split())
    #words=[]
    #words.append(doc.split(' '))
    splitdoc = doc.split()
# doc를 공백 기준 스플릿한다    
    pos=0
    neg=0
# pos, neg 기본 값 설정    
    for word in splitdoc: # 이거 저위에 doc은 고정인 상태에서 추가적으로 수행
# doc은 고정 즉 특정 토큰 고정된 상태에서 그 토큰에서 찢어진 단어들로 수행하는 것        
# 스필릿된 단어들에 대하여        
        if word in list(pos_dict['word']):
            pos += 1
# pos _ dic에 있다면 pos 에 숫자 늘림 갯수 표현하는 것임            
        if word in list(neg_dict['word']):
            neg += 1
# neg _ dic에 있다면 pos 에 숫자 늘림 갯수 표현하는 것임            
    if (pos+neg)!=0:
        tone = (pos-neg)/(pos+neg)
        tone_ls.append(tone)
# 아무튼 둘 중에 하나라도 들어왔다면 위의 조치를 취해서 tone_ls 에 더한다는 뜻
# 저 수치가 긍정,부정 판단의 척도
    else:
        tone_ls.append("NaN")
# 합이 0이면 nan 값처리 사실상 입력값이 없다는 뜻이기 때문. 위의 식에서 더하기 밖에 없는데
# 합이 0이 면 들어온 값이 없다는 뜻
df_new['tone']= tone_ls
# 새로운 tone 컬럼에 결과값 추가

In [ ]:
df_new.head(10)

In [ ]:
df_new.to_csv(r'twitter_tone.csv')

In [4]:
df1=pd.read_csv('twitter_tone_3.csv')

In [6]:
df1['tone']

0           NaN
1     -1.000000
2           NaN
3     -1.000000
4     -1.000000
         ...
824    1.000000
825    0.333333
826         NaN
827         NaN
828    1.000000
Name: tone, Length: 829, dtype: float64