In [58]:
import pandas as pd 

dust=fine_dust_00=pd.read_csv('fine dust_00.csv')
rain=pd.read_csv('heavy rain_00.csv')
fire1=pd.read_csv('fire_00.csv')
fire2=pd.read_csv('disaster_alert_01.csv')
fire=pd.concat([fire1,fire2],ignore_index=True)
wave=pd.read_csv('heat wave_00.csv')
jaenan01=pd.read_csv('jaenan_1.csv')
jaenan02=pd.read_csv('jaenan_002.csv')
jaenan03=pd.read_csv('jaenan_003.csv')
jaenan04=pd.read_csv('jaenan_004.csv')
jaenan05=pd.read_csv('jaenan_005.csv')
jaenan06=pd.read_csv('jaenan_006.csv')
jaenan07=pd.read_csv('jaenan_007.csv')
jaenan08=pd.read_csv('jaenan_008.csv')
jaenan09=pd.read_csv('jaenan_009.csv')
jaenan10=pd.read_csv('jaenan_010.csv')
jaenan=pd.concat([jaenan01,jaenan02,jaenan03],ignore_index=True)
jaenan=pd.concat([jaenan,jaenan04,jaenan05,jaenan06,jaenan07,jaenan08,jaenan09,jaenan10],ignore_index=True)

In [59]:
jaenan11=pd.read_csv('jaenan_100.csv')
jaenan12=pd.read_csv('jaenan_200.csv')
jaenan13=pd.read_csv('jaenan_300.csv')
jaenan14=pd.read_csv('jaenan_400.csv')
jaenan15=pd.read_csv('jaenan_500.csv')
jaenan16=pd.read_csv('jaenan_600.csv')
jaenan17=pd.read_csv('jaenan_700.csv')
jaenan18=pd.read_csv('jaenan_800.csv')
jaenan19=pd.read_csv('jaenan_900.csv')
jaenan20=pd.read_csv('jaenan_1000.csv')
jaenan_1=pd.concat([jaenan11,jaenan12,jaenan13,jaenan14,jaenan15,jaenan16,jaenan17,jaenan18,jaenan19,jaenan20],ignore_index=True)

In [60]:
multipledisaster1=pd.read_csv('multipledisaster_01.csv')
multipledisaster2=pd.read_csv('multipledisaster_02.csv')
multipledisaster3=pd.read_csv('multipledisaster_03.csv')
multipledisaster4=pd.read_csv('multipledisaster_04.csv')
multipledisaster5=pd.read_csv('multipledisaster_05.csv')
multipledisaster6=pd.read_csv('multipledisaster_06.csv')
multipledisaster7=pd.read_csv('multipledisaster_07.csv')
multipledisaster8=pd.read_csv('multipledisaster_08.csv')
multipledisaster9=pd.read_csv('multipledisaster_09.csv')
multipledisaster10=pd.read_csv('multipledisaster_10.csv')
multipledisaster=pd.concat([multipledisaster1,multipledisaster2,multipledisaster3,multipledisaster4,multipledisaster5,multipledisaster6,multipledisaster7,multipledisaster8,multipledisaster9,multipledisaster10],ignore_index=True)

In [61]:
cw1=pd.read_csv('cw_1_101.csv')
cw2=pd.read_csv('cw_101_201.csv')
cw3=pd.read_csv('cw_201_301.csv')
cw4=pd.read_csv('cw_301_401.csv')
cw5=pd.read_csv('cw_401_501.csv')
cw6=pd.read_csv('cw_501_601.csv')
cw7=pd.read_csv('cw_601_701.csv')
cw8=pd.read_csv('cw_701_801.csv')
cw9=pd.read_csv('cw_801_901.csv')
cw=pd.concat([cw1,cw2,cw3,cw4,cw5,cw6,cw7,cw8,cw9],ignore_index=True)

In [62]:
jaenan_1.head()

,Unnamed: 0,text,likey,retweet
0,0,1557293678460227584,RT @cherrybullet: [Notice] ì²´ë¦¬ë¸”ë › ì¸ìŠ¤íƒ€ê·¸ë¨ ì˜¤í”ˆâ£\n\n#...,2022-08-10 09:12:00
1,1,1557293678255042563,RT @hds_earth: ì–¼ë§ˆ ì „ ì—„ë§ˆê°€ ë¹Œë¼ ë§ˆë‹¹ì—ì„œ ë‚¯ì„ ì„±ì¸ë‚¨ìê°€ ì°¨ ë°‘ì— ...,2022-08-10 09:12:00
2,2,1557293676799590400,RT @luxon51: ì™œ ì´ë ‡ê²Œ ë¬´ë¦¬í•´ì„œ ê±´ë„ˆë‚˜ ì°¾ì•„ë´¤ëŠ”ë° ì—¬ê¸°ê°€ ë§‰íˆë©´ ì™„ì „íˆ ...,2022-08-10 09:12:00
3,3,1557293674899591168,RT @BPM_HSW: [#í•˜ì„±ìš´] ğŸ“¢ \n\ní•˜ì„±ìš´ê³¼ í•¨ê»˜í•˜ëŠ” ë¸”ë­í¬í†¡ğŸ¤\n\nì„±...,2022-08-10 09:11:59
4,4,1557293674773774336,RT @ATEEZofficial: [ğŸ“¢] ATINYëŠ” ìš°ì˜ì´ë¥¼ ìƒê°í•˜ë©´ \nì–´ë–¤ ì‚¬...,2022-08-10 09:11:59

In [63]:
multipledisaster.head()

,Unnamed: 0,text,likey,retweet
0,0,1557454720943370240,9ì›”ì— ìº˜í¬ ê°€ìš”~ í˜¹ì‹œ íƒë¼ì— ì¼ˆí¬ ë¶„ ê³„ì‹ ê°€ìš©??\në¶€ìŠ¤ ì°¸ê°€ë¼ ëª»ëŒì•„ë‹¤ë‹ ì¤„ ...,2022-08-10 19:51:56
1,1,1557454720045764608,RT @Echae_enroute: ì‚´ë˜ ì‚¬ëŒì€ ì•Œì•„ì„œ ë‚˜ê°€ë¼ëŠ” ê±°ê³ ë˜ ì¸ì„¼í‹°ë¸Œë‘ ...,2022-08-10 19:51:56
2,2,1557454716237258752,RT @0cha_jj: íŠ¸ìœ„í„°ì—ì„œ ë³´ê³ 'ì§„ì§œ ê²Œìœ¼ë¥¸ ì‚¬ëŒì´ ì“´ ê²Œìœ¼ë¦„ íƒˆì¶œë²•' ì´...,2022-08-10 19:51:55
3,3,1557454716082089985,@5_SANG_52_ ì§„ì§œìš”...ã… ã… ì œ í†µì¥ì— ëˆì´ ì—†ì–´ì„œ ë‹¤í–‰ì´ì§€ ëˆ ì‡ì—‡ìœ¼ë©´ ...,2022-08-10 19:51:55
4,4,1557454709547356160,"RT @ll0_0llsb: #RT #ì´ë²¤íŠ¸ \n\nğŸ‰ê³§ ëŒì•„ì˜¤ëŠ” ""ë¦¬ë‹¤ë‹˜ê³¼ ë‚˜ë¹„ë‹˜""...",2022-08-10 19:51:53

In [64]:
cw.head()

,Unnamed: 0,text,likey,retweet
0,0,1557369023477587969,RT @kmk7405hanmail1: ì‚¬ì§„ì€ ì˜¤ëŠ˜ í˜„ì¬ ì½”ë¡œë‚˜ ì¼ì¼ í™•ì§„ì í˜„í™©ì´ë‹¤...,2022-08-10 14:11:24+00:00
1,1,1557369012123619329,RT @hanitweet: â‘ ê³µê¸° ë¹ ì§€ëŠ” ì†Œë¦¬ \nâ‘¡ëšœê»‘ ìš”ë™ì¹ ë•Œ ì¦‰ì‹œ ëŒ€í”¼\nâ‘¢...,2022-08-10 14:11:21+00:00
2,2,1557369004984979461,RT @redditioon: BBCì½”ë¦¬ì•„ì˜ ë‰´ìŠ¤ íë ˆì´ì…˜ì€ êµ‰ì¥íˆ ì¸ìƒì . í­ìš°ì— ...,2022-08-10 14:11:19+00:00
3,3,1557369003667951619,"RT @dlklee: í­ìš° ì†ì—ì„œë„ ê³¨ëª© ì“°ë ˆê¸°ëŠ” ìˆ˜ê±°ë˜ì—ˆê³ , ìš°í¸ë¬¼ê³¼ íƒë°°ê°€ ì™”ê³ ...",2022-08-10 14:11:19+00:00
4,4,1557369003458252801,RT @flf_sadam: ã…‡ã…£ë‚ ëŒ€ã…ã…í­ìš°ì™€ì„œ ì•ì— ì§„ì§œ ì—„ì²­ì—„ì²­ ë¯¸ë„ëŸ¬ì§€ë©´ì„œë“¤ ...,2022-08-10 14:11:19+00:00

# ì „ì²˜ë¦¬

In [65]:
rain.head()

,Unnamed: 0,ID,Text,Date
0,0,1556930545279373312,RT @saiph1324: ë°©ê¸ˆ ë‰´ìŠ¤ì—ì„œ ë´¤ëŠ”ë° ì›ë˜ ì´ ì‹œê¸°ì—ëŠ” ë¶íƒœí‰ì–‘ ê³ ê¸°ì••ì´...,2022-08-09 09:09:03
1,1,1556930541655851010,"RT @Siaranics: ""ë°¤ì— í­ìš°ê°€ ì˜¬ ì¤„ ì–´ë–»ê²Œ ì•Œê³ ì‹œì¥ì´ í‡´ê·¼ë„ ëª»í•˜ëƒ!...",2022-08-09 09:09:02
2,2,1556930540674039810,RT @JirimKwan0_0: ìš°ë©´ì‚°ì—ì„œ ë˜ ìŸì•„ì§„ í† ì‚¬..ì œë³´ë¡œ ë³¸ í­ìš° í”¼í•´ ...,2022-08-09 09:09:01
3,3,1556930538304184321,RT @happywom: ë‚˜ ë°©ê¸ˆì „ ë­˜ ë³¸ê±°ì„?ğŸ˜±ğŸ˜±ğŸ˜±\nì–´ì ¯ë°¤ í­ìš°ë¡œ ê´€ì•…êµ¬ ì„¸ê°€ì¡±...,2022-08-09 09:09:01
4,4,1556930537981239296,RT @dj__the__kid: ì–´ì œ ê°™ì€ í­ìš°ê°€ ìŸì•„ì§ˆë•Œ ëŒ€ì‘ ê°€ëŠ¥í•œ ì¹˜ìˆ˜ ì‹œìŠ¤í…œ...,2022-08-09 09:09:01

In [66]:
fire.head()

,Unnamed: 0,ID,Text,Date
0,0,1556991811700240384,ì„œìš¸ ë˜ë ¨ë‹˜ë“¤ë„ ë­£ê°™ê³ ì˜¤ì„¸ì´ëˆë„ ë­£ê°™ê³ ì§€ì˜¥ëŸ°í•œ ìƒˆë¼ë„ ë­£ê°™ê³ ì‚°ë¶ˆ ì•ˆë³´ëŸ¬ê°„ë‹¤ê³ ...,2022-08-09 13:12:30
1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04
2,2,1556991657337552896,RT @envsha: ì´ë²ˆì£¼ ë‰´ìŠ¤ë§Œ í•´ë„\n- íŒŒí‚¤ìŠ¤íƒ„ ì§€ë‚œ 5ì£¼ê°„ í­ìš°ë¡œ 282ëª…...,2022-08-09 13:11:53
3,3,1556991610772402176,RT @c2bwsjuhmEW3tbX: ì´ìƒ ì´ì²œí™”ì¬ë¡œ ì‚¬ëŒì£½ì–´ê°ˆë•Œ ê²½ê¸°ë„ì§€ì‚¬ë‘ ë–¡ë³¶...,2022-08-09 13:11:42
4,4,1556991592782737410,"RT @ulttung: ì¬ë‚œì— ë‹¥ì¹˜ë‹ˆ ì§„ì§œ ë¬¸ì¬ì¸ëŒ€í†µë ¹, ì´ë‚™ì—° ì´ë¦¬ë‹˜ì‹œì ˆì´ ê·¸ë¦¬ì›Œ...",2022-08-09 13:11:37

In [67]:
wave.head()

,Unnamed: 0,ID,Text,Date
0,0,1556940532907053057,"ë°‘ì€ ë˜ í­ì—¼ê²½ë³´êµ¬ë‚˜,, ì§„ì§œ ì¤‘ê°„ì´ì—†ë„¤ https://t.co/iaSyubf5b0",2022-08-09 09:48:44
1,1,1556940455199182848,@JYHeffect ë‚´ê°€ ìˆëŠ”ê³³ì€ í­ì—¼ì´ì•¼.\nìš©í™”ë„ ë¹„ ì¡°ì‹¬í•´!!,2022-08-09 09:48:25
2,2,1556940450598387714,í­ì—¼ê³¼ ë‹¤ìŠµí•œ ë‚ ì”¨ê°€ ì´ì–´ê°€ë‹ˆ ë°”ì§ˆì€ ì „ë©¸ì¸ë° ê³ ë¬´ë‚˜ë¬´ë‘ ì•„ë³´ì¹´ë„ëŠ” ìƒìƒí•˜ë„¤.,2022-08-09 09:48:24
3,3,1556940167998767105,@Dadenng í­ì—¼ì€ ê´œì°®ìœ¼ì‹ ê°€ìš”..?,2022-08-09 09:47:17
4,4,1556940106824425473,@JYHeffect ì—¬ê¸´ í­ì—¼ ê²½ë³´... ë‹¤ë“¤ ë¹„ ì¡°ì‹¬í•˜ì„¸ìš”!!,2022-08-09 09:47:02

In [68]:
jaenan.head()

,Unnamed: 0,text,likey,retweet
0,0,1556917345381392385,"RT @loveaselin: ê²Œì„ ""ê°€ë””ì–¸ í…Œì¼ì¦ˆ"" ê°œë°œì‚¬ ì½©ìŠ¤íŠœë””ì˜¤ ì‚¬ë¬´ì‹¤ì´ ì´ë²ˆ...",2022-08-09 08:16:35
1,1,1556917343607201792,RT @adhoclala: êµ­ê°€ ì¬ë‚œìƒí™©ì—ì„œ ê´€ì €ì—ì„œ ìˆ¨ì–´ìˆë˜ ëŒ€í†µë ¹ê³¼ í­ìš°ê°€ ë‚´ë¦¼...,2022-08-09 08:16:35
2,2,1556917342105632768,RT @irri12: ëŒ€ì„ ë•Œ ì–¸ë¡ ê³¼ êµ­ë¯¼ë“¤ ë°˜ì´ ëŒ€ì²´ ë¬´ìŠ¨ ì§“ì„ í•œê±´ì§€ ì¡°ê¸ˆì´ë¼ë„...,2022-08-09 08:16:35
3,3,1556917332869492736,RT @nifos_news: ì‚°ì‚¬íƒœ ìœ„ê¸°ê²½ë³´ 'ê²½ê³„'ë¡œ ìƒí–¥ğŸ””\n\nì´ë¡€ì ì¸ í­ìš° ...,2022-08-09 08:16:32
4,4,1556917330222862337,RT @ulttung: ì´ ë¬¼ë‚œë¦¬ê°€ ë‚¬ëŠ”ë° ê³ ë¦½ë˜ì„œ ë‚˜ì˜¤ì§ˆ ëª»í•´ ì™€ì¤‘ì— ëŒ€ì±…ì—†ì´ í­...,2022-08-09 08:16:32

In [69]:
fine_dust_00.head()

,Unnamed: 0,ID,Text,Date
0,0,1556968932472279040,RT @MlikSbunny: í•˜ë¯¸ì¹œì¡´ë‚˜ê¸°ì—¬ìš°ì–´ì—‰\níœ´ë‹ì¹´ì´ ì—´ì‹¬íˆ ë¯¸ì„¸ë¨¼ì§€ ì™¸ì¹˜ëŠ” ...,2022-08-09 11:41:35
1,1,1556968707900903424,RT @MlikSbunny: í•˜ë¯¸ì¹œì¡´ë‚˜ê¸°ì—¬ìš°ì–´ì—‰\níœ´ë‹ì¹´ì´ ì—´ì‹¬íˆ ë¯¸ì„¸ë¨¼ì§€ ì™¸ì¹˜ëŠ” ...,2022-08-09 11:40:41
2,2,1556967322463571968,RT @retta2357: ì˜í™” ê¸°ìƒì¶©ì—ì„œ ì†¡ê°•í˜¸ë„¤ê°€ í­ìš°ë¡œ ì¹¨ìˆ˜ëœ ë‹¤ìŒë‚ ì¡°ì—¬ì •ì´...,2022-08-09 11:35:11
3,3,1556966388048470016,RT @MlikSbunny: í•˜ë¯¸ì¹œì¡´ë‚˜ê¸°ì—¬ìš°ì–´ì—‰\níœ´ë‹ì¹´ì´ ì—´ì‹¬íˆ ë¯¸ì„¸ë¨¼ì§€ ì™¸ì¹˜ëŠ” ...,2022-08-09 11:31:28
4,4,1556965124375601152,RT @MlikSbunny: í•˜ë¯¸ì¹œì¡´ë‚˜ê¸°ì—¬ìš°ì–´ì—‰\níœ´ë‹ì¹´ì´ ì—´ì‹¬íˆ ë¯¸ì„¸ë¨¼ì§€ ì™¸ì¹˜ëŠ” ...,2022-08-09 11:26:27

In [70]:
len(rain)

7485

In [71]:
len(wave)

7485

In [72]:
len(fire)

14970

In [73]:
len(jaenan)

7350

In [74]:
len(fine_dust_00)

7485

## Key ì¶”ê°€

In [75]:
rain.head()

,Unnamed: 0,ID,Text,Date
0,0,1556930545279373312,RT @saiph1324: ë°©ê¸ˆ ë‰´ìŠ¤ì—ì„œ ë´¤ëŠ”ë° ì›ë˜ ì´ ì‹œê¸°ì—ëŠ” ë¶íƒœí‰ì–‘ ê³ ê¸°ì••ì´...,2022-08-09 09:09:03
1,1,1556930541655851010,"RT @Siaranics: ""ë°¤ì— í­ìš°ê°€ ì˜¬ ì¤„ ì–´ë–»ê²Œ ì•Œê³ ì‹œì¥ì´ í‡´ê·¼ë„ ëª»í•˜ëƒ!...",2022-08-09 09:09:02
2,2,1556930540674039810,RT @JirimKwan0_0: ìš°ë©´ì‚°ì—ì„œ ë˜ ìŸì•„ì§„ í† ì‚¬..ì œë³´ë¡œ ë³¸ í­ìš° í”¼í•´ ...,2022-08-09 09:09:01
3,3,1556930538304184321,RT @happywom: ë‚˜ ë°©ê¸ˆì „ ë­˜ ë³¸ê±°ì„?ğŸ˜±ğŸ˜±ğŸ˜±\nì–´ì ¯ë°¤ í­ìš°ë¡œ ê´€ì•…êµ¬ ì„¸ê°€ì¡±...,2022-08-09 09:09:01
4,4,1556930537981239296,RT @dj__the__kid: ì–´ì œ ê°™ì€ í­ìš°ê°€ ìŸì•„ì§ˆë•Œ ëŒ€ì‘ ê°€ëŠ¥í•œ ì¹˜ìˆ˜ ì‹œìŠ¤í…œ...,2022-08-09 09:09:01

In [76]:
rain['Key']='í­ìš°'
rain.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556930545279373312,RT @saiph1324: ë°©ê¸ˆ ë‰´ìŠ¤ì—ì„œ ë´¤ëŠ”ë° ì›ë˜ ì´ ì‹œê¸°ì—ëŠ” ë¶íƒœí‰ì–‘ ê³ ê¸°ì••ì´...,2022-08-09 09:09:03,í­ìš°
1,1,1556930541655851010,"RT @Siaranics: ""ë°¤ì— í­ìš°ê°€ ì˜¬ ì¤„ ì–´ë–»ê²Œ ì•Œê³ ì‹œì¥ì´ í‡´ê·¼ë„ ëª»í•˜ëƒ!...",2022-08-09 09:09:02,í­ìš°
2,2,1556930540674039810,RT @JirimKwan0_0: ìš°ë©´ì‚°ì—ì„œ ë˜ ìŸì•„ì§„ í† ì‚¬..ì œë³´ë¡œ ë³¸ í­ìš° í”¼í•´ ...,2022-08-09 09:09:01,í­ìš°
3,3,1556930538304184321,RT @happywom: ë‚˜ ë°©ê¸ˆì „ ë­˜ ë³¸ê±°ì„?ğŸ˜±ğŸ˜±ğŸ˜±\nì–´ì ¯ë°¤ í­ìš°ë¡œ ê´€ì•…êµ¬ ì„¸ê°€ì¡±...,2022-08-09 09:09:01,í­ìš°
4,4,1556930537981239296,RT @dj__the__kid: ì–´ì œ ê°™ì€ í­ìš°ê°€ ìŸì•„ì§ˆë•Œ ëŒ€ì‘ ê°€ëŠ¥í•œ ì¹˜ìˆ˜ ì‹œìŠ¤í…œ...,2022-08-09 09:09:01,í­ìš°

In [77]:
fire['Key']='ì‚°ë¶ˆ or í™”ì¬'
fire.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556991811700240384,ì„œìš¸ ë˜ë ¨ë‹˜ë“¤ë„ ë­£ê°™ê³ ì˜¤ì„¸ì´ëˆë„ ë­£ê°™ê³ ì§€ì˜¥ëŸ°í•œ ìƒˆë¼ë„ ë­£ê°™ê³ ì‚°ë¶ˆ ì•ˆë³´ëŸ¬ê°„ë‹¤ê³ ...,2022-08-09 13:12:30,ì‚°ë¶ˆ or í™”ì¬
1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬
2,2,1556991657337552896,RT @envsha: ì´ë²ˆì£¼ ë‰´ìŠ¤ë§Œ í•´ë„\n- íŒŒí‚¤ìŠ¤íƒ„ ì§€ë‚œ 5ì£¼ê°„ í­ìš°ë¡œ 282ëª…...,2022-08-09 13:11:53,ì‚°ë¶ˆ or í™”ì¬
3,3,1556991610772402176,RT @c2bwsjuhmEW3tbX: ì´ìƒ ì´ì²œí™”ì¬ë¡œ ì‚¬ëŒì£½ì–´ê°ˆë•Œ ê²½ê¸°ë„ì§€ì‚¬ë‘ ë–¡ë³¶...,2022-08-09 13:11:42,ì‚°ë¶ˆ or í™”ì¬
4,4,1556991592782737410,"RT @ulttung: ì¬ë‚œì— ë‹¥ì¹˜ë‹ˆ ì§„ì§œ ë¬¸ì¬ì¸ëŒ€í†µë ¹, ì´ë‚™ì—° ì´ë¦¬ë‹˜ì‹œì ˆì´ ê·¸ë¦¬ì›Œ...",2022-08-09 13:11:37,ì‚°ë¶ˆ or í™”ì¬

In [78]:
wave['Key']='í­ì—¼'
wave.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556940532907053057,"ë°‘ì€ ë˜ í­ì—¼ê²½ë³´êµ¬ë‚˜,, ì§„ì§œ ì¤‘ê°„ì´ì—†ë„¤ https://t.co/iaSyubf5b0",2022-08-09 09:48:44,í­ì—¼
1,1,1556940455199182848,@JYHeffect ë‚´ê°€ ìˆëŠ”ê³³ì€ í­ì—¼ì´ì•¼.\nìš©í™”ë„ ë¹„ ì¡°ì‹¬í•´!!,2022-08-09 09:48:25,í­ì—¼
2,2,1556940450598387714,í­ì—¼ê³¼ ë‹¤ìŠµí•œ ë‚ ì”¨ê°€ ì´ì–´ê°€ë‹ˆ ë°”ì§ˆì€ ì „ë©¸ì¸ë° ê³ ë¬´ë‚˜ë¬´ë‘ ì•„ë³´ì¹´ë„ëŠ” ìƒìƒí•˜ë„¤.,2022-08-09 09:48:24,í­ì—¼
3,3,1556940167998767105,@Dadenng í­ì—¼ì€ ê´œì°®ìœ¼ì‹ ê°€ìš”..?,2022-08-09 09:47:17,í­ì—¼
4,4,1556940106824425473,@JYHeffect ì—¬ê¸´ í­ì—¼ ê²½ë³´... ë‹¤ë“¤ ë¹„ ì¡°ì‹¬í•˜ì„¸ìš”!!,2022-08-09 09:47:02,í­ì—¼

In [79]:
dust['Key']='ë¯¸ì„¸ë¨¼ì§€'
dust.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556968932472279040,RT @MlikSbunny: í•˜ë¯¸ì¹œì¡´ë‚˜ê¸°ì—¬ìš°ì–´ì—‰\níœ´ë‹ì¹´ì´ ì—´ì‹¬íˆ ë¯¸ì„¸ë¨¼ì§€ ì™¸ì¹˜ëŠ” ...,2022-08-09 11:41:35,ë¯¸ì„¸ë¨¼ì§€
1,1,1556968707900903424,RT @MlikSbunny: í•˜ë¯¸ì¹œì¡´ë‚˜ê¸°ì—¬ìš°ì–´ì—‰\níœ´ë‹ì¹´ì´ ì—´ì‹¬íˆ ë¯¸ì„¸ë¨¼ì§€ ì™¸ì¹˜ëŠ” ...,2022-08-09 11:40:41,ë¯¸ì„¸ë¨¼ì§€
2,2,1556967322463571968,RT @retta2357: ì˜í™” ê¸°ìƒì¶©ì—ì„œ ì†¡ê°•í˜¸ë„¤ê°€ í­ìš°ë¡œ ì¹¨ìˆ˜ëœ ë‹¤ìŒë‚ ì¡°ì—¬ì •ì´...,2022-08-09 11:35:11,ë¯¸ì„¸ë¨¼ì§€
3,3,1556966388048470016,RT @MlikSbunny: í•˜ë¯¸ì¹œì¡´ë‚˜ê¸°ì—¬ìš°ì–´ì—‰\níœ´ë‹ì¹´ì´ ì—´ì‹¬íˆ ë¯¸ì„¸ë¨¼ì§€ ì™¸ì¹˜ëŠ” ...,2022-08-09 11:31:28,ë¯¸ì„¸ë¨¼ì§€
4,4,1556965124375601152,RT @MlikSbunny: í•˜ë¯¸ì¹œì¡´ë‚˜ê¸°ì—¬ìš°ì–´ì—‰\níœ´ë‹ì¹´ì´ ì—´ì‹¬íˆ ë¯¸ì„¸ë¨¼ì§€ ì™¸ì¹˜ëŠ” ...,2022-08-09 11:26:27,ë¯¸ì„¸ë¨¼ì§€

In [80]:
jaenan['Key']='ê¸°íƒ€'
jaenan.head()

,Unnamed: 0,text,likey,retweet,Key
0,0,1556917345381392385,"RT @loveaselin: ê²Œì„ ""ê°€ë””ì–¸ í…Œì¼ì¦ˆ"" ê°œë°œì‚¬ ì½©ìŠ¤íŠœë””ì˜¤ ì‚¬ë¬´ì‹¤ì´ ì´ë²ˆ...",2022-08-09 08:16:35,ê¸°íƒ€
1,1,1556917343607201792,RT @adhoclala: êµ­ê°€ ì¬ë‚œìƒí™©ì—ì„œ ê´€ì €ì—ì„œ ìˆ¨ì–´ìˆë˜ ëŒ€í†µë ¹ê³¼ í­ìš°ê°€ ë‚´ë¦¼...,2022-08-09 08:16:35,ê¸°íƒ€
2,2,1556917342105632768,RT @irri12: ëŒ€ì„ ë•Œ ì–¸ë¡ ê³¼ êµ­ë¯¼ë“¤ ë°˜ì´ ëŒ€ì²´ ë¬´ìŠ¨ ì§“ì„ í•œê±´ì§€ ì¡°ê¸ˆì´ë¼ë„...,2022-08-09 08:16:35,ê¸°íƒ€
3,3,1556917332869492736,RT @nifos_news: ì‚°ì‚¬íƒœ ìœ„ê¸°ê²½ë³´ 'ê²½ê³„'ë¡œ ìƒí–¥ğŸ””\n\nì´ë¡€ì ì¸ í­ìš° ...,2022-08-09 08:16:32,ê¸°íƒ€
4,4,1556917330222862337,RT @ulttung: ì´ ë¬¼ë‚œë¦¬ê°€ ë‚¬ëŠ”ë° ê³ ë¦½ë˜ì„œ ë‚˜ì˜¤ì§ˆ ëª»í•´ ì™€ì¤‘ì— ëŒ€ì±…ì—†ì´ í­...,2022-08-09 08:16:32,ê¸°íƒ€

In [81]:
jaenan_1['Key']='ê¸°íƒ€'
jaenan_1.head()

,Unnamed: 0,text,likey,retweet,Key
0,0,1557293678460227584,RT @cherrybullet: [Notice] ì²´ë¦¬ë¸”ë › ì¸ìŠ¤íƒ€ê·¸ë¨ ì˜¤í”ˆâ£\n\n#...,2022-08-10 09:12:00,ê¸°íƒ€
1,1,1557293678255042563,RT @hds_earth: ì–¼ë§ˆ ì „ ì—„ë§ˆê°€ ë¹Œë¼ ë§ˆë‹¹ì—ì„œ ë‚¯ì„ ì„±ì¸ë‚¨ìê°€ ì°¨ ë°‘ì— ...,2022-08-10 09:12:00,ê¸°íƒ€
2,2,1557293676799590400,RT @luxon51: ì™œ ì´ë ‡ê²Œ ë¬´ë¦¬í•´ì„œ ê±´ë„ˆë‚˜ ì°¾ì•„ë´¤ëŠ”ë° ì—¬ê¸°ê°€ ë§‰íˆë©´ ì™„ì „íˆ ...,2022-08-10 09:12:00,ê¸°íƒ€
3,3,1557293674899591168,RT @BPM_HSW: [#í•˜ì„±ìš´] ğŸ“¢ \n\ní•˜ì„±ìš´ê³¼ í•¨ê»˜í•˜ëŠ” ë¸”ë­í¬í†¡ğŸ¤\n\nì„±...,2022-08-10 09:11:59,ê¸°íƒ€
4,4,1557293674773774336,RT @ATEEZofficial: [ğŸ“¢] ATINYëŠ” ìš°ì˜ì´ë¥¼ ìƒê°í•˜ë©´ \nì–´ë–¤ ì‚¬...,2022-08-10 09:11:59,ê¸°íƒ€

In [82]:
cw['Key']='ë¯¸ì„¸ë¨¼ì§€orí­ìš°'
cw.head()

,Unnamed: 0,text,likey,retweet,Key
0,0,1557369023477587969,RT @kmk7405hanmail1: ì‚¬ì§„ì€ ì˜¤ëŠ˜ í˜„ì¬ ì½”ë¡œë‚˜ ì¼ì¼ í™•ì§„ì í˜„í™©ì´ë‹¤...,2022-08-10 14:11:24+00:00,ë¯¸ì„¸ë¨¼ì§€orí­ìš°
1,1,1557369012123619329,RT @hanitweet: â‘ ê³µê¸° ë¹ ì§€ëŠ” ì†Œë¦¬ \nâ‘¡ëšœê»‘ ìš”ë™ì¹ ë•Œ ì¦‰ì‹œ ëŒ€í”¼\nâ‘¢...,2022-08-10 14:11:21+00:00,ë¯¸ì„¸ë¨¼ì§€orí­ìš°
2,2,1557369004984979461,RT @redditioon: BBCì½”ë¦¬ì•„ì˜ ë‰´ìŠ¤ íë ˆì´ì…˜ì€ êµ‰ì¥íˆ ì¸ìƒì . í­ìš°ì— ...,2022-08-10 14:11:19+00:00,ë¯¸ì„¸ë¨¼ì§€orí­ìš°
3,3,1557369003667951619,"RT @dlklee: í­ìš° ì†ì—ì„œë„ ê³¨ëª© ì“°ë ˆê¸°ëŠ” ìˆ˜ê±°ë˜ì—ˆê³ , ìš°í¸ë¬¼ê³¼ íƒë°°ê°€ ì™”ê³ ...",2022-08-10 14:11:19+00:00,ë¯¸ì„¸ë¨¼ì§€orí­ìš°
4,4,1557369003458252801,RT @flf_sadam: ã…‡ã…£ë‚ ëŒ€ã…ã…í­ìš°ì™€ì„œ ì•ì— ì§„ì§œ ì—„ì²­ì—„ì²­ ë¯¸ë„ëŸ¬ì§€ë©´ì„œë“¤ ...,2022-08-10 14:11:19+00:00,ë¯¸ì„¸ë¨¼ì§€orí­ìš°

In [83]:
multipledisaster['Key']='í­ì—¼orì—´ëŒ€ì•¼'
multipledisaster.head()

,Unnamed: 0,text,likey,retweet,Key
0,0,1557454720943370240,9ì›”ì— ìº˜í¬ ê°€ìš”~ í˜¹ì‹œ íƒë¼ì— ì¼ˆí¬ ë¶„ ê³„ì‹ ê°€ìš©??\në¶€ìŠ¤ ì°¸ê°€ë¼ ëª»ëŒì•„ë‹¤ë‹ ì¤„ ...,2022-08-10 19:51:56,í­ì—¼orì—´ëŒ€ì•¼
1,1,1557454720045764608,RT @Echae_enroute: ì‚´ë˜ ì‚¬ëŒì€ ì•Œì•„ì„œ ë‚˜ê°€ë¼ëŠ” ê±°ê³ ë˜ ì¸ì„¼í‹°ë¸Œë‘ ...,2022-08-10 19:51:56,í­ì—¼orì—´ëŒ€ì•¼
2,2,1557454716237258752,RT @0cha_jj: íŠ¸ìœ„í„°ì—ì„œ ë³´ê³ 'ì§„ì§œ ê²Œìœ¼ë¥¸ ì‚¬ëŒì´ ì“´ ê²Œìœ¼ë¦„ íƒˆì¶œë²•' ì´...,2022-08-10 19:51:55,í­ì—¼orì—´ëŒ€ì•¼
3,3,1557454716082089985,@5_SANG_52_ ì§„ì§œìš”...ã… ã… ì œ í†µì¥ì— ëˆì´ ì—†ì–´ì„œ ë‹¤í–‰ì´ì§€ ëˆ ì‡ì—‡ìœ¼ë©´ ...,2022-08-10 19:51:55,í­ì—¼orì—´ëŒ€ì•¼
4,4,1557454709547356160,"RT @ll0_0llsb: #RT #ì´ë²¤íŠ¸ \n\nğŸ‰ê³§ ëŒì•„ì˜¤ëŠ” ""ë¦¬ë‹¤ë‹˜ê³¼ ë‚˜ë¹„ë‹˜""...",2022-08-10 19:51:53,í­ì—¼orì—´ëŒ€ì•¼

In [84]:
jaenan.rename(columns={'text':'ID'},inplace=True)
jaenan.rename(columns={'likey':'Text'},inplace=True)
jaenan.rename(columns={'retweet':'Date'},inplace=True)

In [85]:
jaenan_1.rename(columns={'text':'ID'},inplace=True)
jaenan_1.rename(columns={'likey':'Text'},inplace=True)
jaenan_1.rename(columns={'retweet':'Date'},inplace=True)

In [86]:
cw.rename(columns={'text':'ID'},inplace=True)
cw.rename(columns={'likey':'Text'},inplace=True)
cw.rename(columns={'retweet':'Date'},inplace=True)

In [87]:
multipledisaster.rename(columns={'text':'ID'},inplace=True)
multipledisaster.rename(columns={'likey':'Text'},inplace=True)
multipledisaster.rename(columns={'retweet':'Date'},inplace=True)

In [88]:
jaenan.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556917345381392385,"RT @loveaselin: ê²Œì„ ""ê°€ë””ì–¸ í…Œì¼ì¦ˆ"" ê°œë°œì‚¬ ì½©ìŠ¤íŠœë””ì˜¤ ì‚¬ë¬´ì‹¤ì´ ì´ë²ˆ...",2022-08-09 08:16:35,ê¸°íƒ€
1,1,1556917343607201792,RT @adhoclala: êµ­ê°€ ì¬ë‚œìƒí™©ì—ì„œ ê´€ì €ì—ì„œ ìˆ¨ì–´ìˆë˜ ëŒ€í†µë ¹ê³¼ í­ìš°ê°€ ë‚´ë¦¼...,2022-08-09 08:16:35,ê¸°íƒ€
2,2,1556917342105632768,RT @irri12: ëŒ€ì„ ë•Œ ì–¸ë¡ ê³¼ êµ­ë¯¼ë“¤ ë°˜ì´ ëŒ€ì²´ ë¬´ìŠ¨ ì§“ì„ í•œê±´ì§€ ì¡°ê¸ˆì´ë¼ë„...,2022-08-09 08:16:35,ê¸°íƒ€
3,3,1556917332869492736,RT @nifos_news: ì‚°ì‚¬íƒœ ìœ„ê¸°ê²½ë³´ 'ê²½ê³„'ë¡œ ìƒí–¥ğŸ””\n\nì´ë¡€ì ì¸ í­ìš° ...,2022-08-09 08:16:32,ê¸°íƒ€
4,4,1556917330222862337,RT @ulttung: ì´ ë¬¼ë‚œë¦¬ê°€ ë‚¬ëŠ”ë° ê³ ë¦½ë˜ì„œ ë‚˜ì˜¤ì§ˆ ëª»í•´ ì™€ì¤‘ì— ëŒ€ì±…ì—†ì´ í­...,2022-08-09 08:16:32,ê¸°íƒ€

In [89]:
jaenan.tail()

,Unnamed: 0,ID,Text,Date,Key
7345,730,1556990792694018049,RT @yoji0802: ì •ë§ ëŒ€í†µë ¹ì‹¤ í†µì§¸ë¡œ ê°œíŒì´êµ¬ë‚˜! ëŒ€ê°€ë¦¬ ì œëŒ€ë¡œ ëœ ë†ˆì´ ...,2022-08-09 13:08:27+00:00,ê¸°íƒ€
7346,731,1556990769608568832,RT @qkddbfehcl: ì´ê²Œ ì–¼ë§ˆë‚˜ í° ì¼ì´ëƒë©´...ì •ì‘ ë¹„ê°€ ë‚´ë ¤ì•¼í•˜ëŠ” ë†ì´Œ...,2022-08-09 13:08:21+00:00,ê¸°íƒ€
7347,732,1556990761660723202,RT @mediatodaynews: [ì˜ìƒ] â€˜ëŒ€í†µë ¹ í˜¸ìš° ëŒ€ì²˜ ì•„ì‰¬ìš´ ì â€™ ë¬»ì ...,2022-08-09 13:08:19+00:00,ê¸°íƒ€
7348,733,1556990758590517248,RT @hanu_jjba: ì €í¬ ì–´ë¨¸ë‹ˆë„ ê°•ì›ë„ ì‚¬ì‹œëŠ”ë° ì¶œê·¼ê¸¸ì— í° ì†Œë¦¬ê°€ ë‚˜ì„œ ...,2022-08-09 13:08:18+00:00,ê¸°íƒ€
7349,734,1556990752210579458,RT @yonhaptweet: [ì†ë³´] ì„œìš¸ ë…¸ì›êµ¬ ìƒê³„Â·ì¤‘ê³„ë™ ì‚°ì‚¬íƒœ ê²½ë³´ ë°œë ¹ ...,2022-08-09 13:08:17+00:00,ê¸°íƒ€

In [90]:
jaenan.duplicated(['Text']).sum()

7241

# ë°ì´í„° í†µí•© ë° ì²˜ë¦¬

In [91]:
df=pd.concat([fire,wave,fire,dust,jaenan,multipledisaster,cw,jaenan_1],ignore_index=True)

In [92]:
df.head()

,Unnamed: 0,ID,Text,Date,Key
0,0,1556991811700240384,ì„œìš¸ ë˜ë ¨ë‹˜ë“¤ë„ ë­£ê°™ê³ ì˜¤ì„¸ì´ëˆë„ ë­£ê°™ê³ ì§€ì˜¥ëŸ°í•œ ìƒˆë¼ë„ ë­£ê°™ê³ ì‚°ë¶ˆ ì•ˆë³´ëŸ¬ê°„ë‹¤ê³ ...,2022-08-09 13:12:30,ì‚°ë¶ˆ or í™”ì¬
1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬
2,2,1556991657337552896,RT @envsha: ì´ë²ˆì£¼ ë‰´ìŠ¤ë§Œ í•´ë„\n- íŒŒí‚¤ìŠ¤íƒ„ ì§€ë‚œ 5ì£¼ê°„ í­ìš°ë¡œ 282ëª…...,2022-08-09 13:11:53,ì‚°ë¶ˆ or í™”ì¬
3,3,1556991610772402176,RT @c2bwsjuhmEW3tbX: ì´ìƒ ì´ì²œí™”ì¬ë¡œ ì‚¬ëŒì£½ì–´ê°ˆë•Œ ê²½ê¸°ë„ì§€ì‚¬ë‘ ë–¡ë³¶...,2022-08-09 13:11:42,ì‚°ë¶ˆ or í™”ì¬
4,4,1556991592782737410,"RT @ulttung: ì¬ë‚œì— ë‹¥ì¹˜ë‹ˆ ì§„ì§œ ë¬¸ì¬ì¸ëŒ€í†µë ¹, ì´ë‚™ì—° ì´ë¦¬ë‹˜ì‹œì ˆì´ ê·¸ë¦¬ì›Œ...",2022-08-09 13:11:37,ì‚°ë¶ˆ or í™”ì¬

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95460 entries, 0 to 95459
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  95460 non-null  int64
 1   ID          95460 non-null  int64
 2   Text        95460 non-null  object
 3   Date        95460 non-null  object
 4   Key         95460 non-null  object
dtypes: int64(2), object(3)
memory usage: 3.6+ MB

In [94]:
df.isnull().sum()

Unnamed: 0    0
ID            0
Text          0
Date          0
Key           0
dtype: int64

In [95]:
df.duplicated(['Text']).sum()

94631

In [96]:
df['duplicates'] = df.groupby('Text')['Text'].transform('count')
df.head()

,Unnamed: 0,ID,Text,Date,Key,duplicates
0,0,1556991811700240384,ì„œìš¸ ë˜ë ¨ë‹˜ë“¤ë„ ë­£ê°™ê³ ì˜¤ì„¸ì´ëˆë„ ë­£ê°™ê³ ì§€ì˜¥ëŸ°í•œ ìƒˆë¼ë„ ë­£ê°™ê³ ì‚°ë¶ˆ ì•ˆë³´ëŸ¬ê°„ë‹¤ê³ ...,2022-08-09 13:12:30,ì‚°ë¶ˆ or í™”ì¬,360
1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360
2,2,1556991657337552896,RT @envsha: ì´ë²ˆì£¼ ë‰´ìŠ¤ë§Œ í•´ë„\n- íŒŒí‚¤ìŠ¤íƒ„ ì§€ë‚œ 5ì£¼ê°„ í­ìš°ë¡œ 282ëª…...,2022-08-09 13:11:53,ì‚°ë¶ˆ or í™”ì¬,360
3,3,1556991610772402176,RT @c2bwsjuhmEW3tbX: ì´ìƒ ì´ì²œí™”ì¬ë¡œ ì‚¬ëŒì£½ì–´ê°ˆë•Œ ê²½ê¸°ë„ì§€ì‚¬ë‘ ë–¡ë³¶...,2022-08-09 13:11:42,ì‚°ë¶ˆ or í™”ì¬,1614
4,4,1556991592782737410,"RT @ulttung: ì¬ë‚œì— ë‹¥ì¹˜ë‹ˆ ì§„ì§œ ë¬¸ì¬ì¸ëŒ€í†µë ¹, ì´ë‚™ì—° ì´ë¦¬ë‹˜ì‹œì ˆì´ ê·¸ë¦¬ì›Œ...",2022-08-09 13:11:37,ì‚°ë¶ˆ or í™”ì¬,638

In [97]:
df['Text'][1]

'RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜ ì‚°ë¶ˆ.\nê¸°ì–µì†ì— ê°€ë“í•˜ë‹¤'

In [98]:
df[df['Text']=='RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜ ì‚°ë¶ˆ.\nê¸°ì–µì†ì— ê°€ë“í•˜ë‹¤']

,Unnamed: 0,ID,Text,Date,Key,duplicates
1,1,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360
16,16,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360
31,31,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360
46,46,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360
61,61,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360
...,...,...,...,...,...,...
25083,2628,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360
25098,2643,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360
25113,2658,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360
25128,2673,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360
25143,2688,1556991703256821761,RT @anna12285: @babylion0505 @free351 ì§€ê²¹ê²Œ ì´ì–´ì§€ë˜...,2022-08-09 13:12:04,ì‚°ë¶ˆ or í™”ì¬,360

In [99]:
df_nodup=df.drop_duplicates(['Text'])

In [100]:
df_nodup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 829 entries, 0 to 95414
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  829 non-null    int64
 1   ID          829 non-null    int64
 2   Text        829 non-null    object
 3   Date        829 non-null    object
 4   Key         829 non-null    object
 5   duplicates  829 non-null    int64
dtypes: int64(3), object(3)
memory usage: 45.3+ KB

In [101]:
df.to_csv('ë°ì´í„°ìˆ˜ì§‘ë³¸.csv', encoding='utf-8')

In [102]:
df_nodup.to_csv('ë°ì´í„°ìˆ˜ì§‘ë³¸(ì¤‘ë³µì—†ìŒ).csv', encoding='utf-8')

In [103]:
df1=pd.read_csv('ë°ì´í„°ìˆ˜ì§‘ë³¸.csv')

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95460 entries, 0 to 95459
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  95460 non-null  int64
 1   ID          95460 non-null  int64
 2   Text        95460 non-null  object
 3   Date        95460 non-null  object
 4   Key         95460 non-null  object
 5   duplicates  95460 non-null  int64
dtypes: int64(3), object(3)
memory usage: 4.4+ MB